{% extends 'layout.html' %}
{% block content %}
    <!-- cart area start -->
    <div class="cart-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="table-responsive mb-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="blank"></th>
                                    <th class="blank"></th>
                                    <th class="blank"></th>
                                    <th class="title-name">Producto</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th>Precio total</th>
                                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key,value in request.session.cart.items %}
                            <tr>
                                <td class="table-close-btn"><a href="#"><i class="ri-close-line"></i></a></td>
                                <th scope="row"><img src="{{ value.imagen }}" alt="img"></th>
                                <td colspan="2" class="item-name"><a href="{% url 'web:producto' value.producto_id %}" class="d-block text-dark">{{ value.nombre }}</a>
                                </td>
                                <td>S/. {{ value.precio }}</td>
                                <td class="table-quantity">
                                    {{ value.cantidad }}
                                </td>
                                <td>S/. {{ value.total }}</td>
                                <td><a href="{% url 'web:eliminarProductoCarrito' value.producto_id %}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>       
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-warning" href="{% url 'web:index' %}" role="button">REGRESAR</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-danger" href="{% url 'web:limpiarCarrito' %}" role="button">LIMPIAR</a>
                    </div>
                    <!-- / Shopping cart table -->        
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end -->
{% endblock %}