{% extends 'layout.html' %}
{% block content %}
    <!-- shop-details Area Start-->
    <div class="shop-details-area pd-top-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="sticy-product">
                        <div class="product-thumbnail-wrapper">
                            <img src="{{ producto.imagen.url }}" alt="item" width="10000" height="10000">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shop-item-details">                    
                        <h2 class="entry-title">{{ producto.nombre }}</h2>
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                <h4 class="price">S/. {{ producto.precio }}</h4>
                            </div>                            
                        </div>   
                        <p class="mt-4">{{ producto.descripcion }}</p><br>   
                        <h5>¿Cuantos quieres?</h5><input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /><br>
                        <a href="{% url 'web:agregarCarrito' producto.id %}" class="btn btn-secondary">AGREGAR AL CARRITO</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}